.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.4);
}

.close-modal {
    color: #fee2e9;
    float: right;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
}

.close-modal:hover,
.close-modal:focus {
    color: #ffb28c;
    text-decoration: none;
    cursor: pointer;
    scale: 1.1;
}

.stats-box {
    animation: modal 0.5s;
    background-color: #1f28332b;
    color: #fee2e9;
    border-radius: 10px;
    box-shadow: 4px 4px #fefefe29, 5px 5px 5px #fafafa47, 6px 6px 6px #1f28331e;
    padding: 1%;
    width: 70%;
    max-width: 300px;
    border: 2px solid;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}