.stats-box {
    opacity: 70%;
    background-color: #1f28332b;
    color: #fee2e9;
    border-radius: 10px;
    box-shadow: 4px 4px #1f283328, 5px 5px 5px #1f283348, 6px 6px 6px#1f28331e;
    margin-top: 1%;
    padding: 1%;
    width: 70%;
    height: 16%;
    max-width: 300px;
    max-height: 125px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}