/*
    Styling for empty, adjacent, and hidden tiles
*/

.no-select {
    user-select: none;
}

.hidden {
    opacity: 0;
}

.adjacent {
    transition: all 0.3s ease-in-out;
    background-color: #a0ece8;
    color: #1f2833;
}

.empty {
    background-color: #79a7a4;
    opacity: 0.5;
    scale: 0.98;
}


/* 
    These are the completed states for the 8-puzzle game.
*/

.completed {
    scale : 1.1;
    background-color: #a0ece87e;
    color: #1f2833;
    box-shadow:
        10px 10px #1f283328,
        11px 11px #1f283348,
        12px 12px #1f28331e;
    transform: translateX(-5px);
}

.completed > .grid-item {
    background-color: #b7eeaf;
    color: #1f2833;
}

.title-completed {
    font-weight: bold;
    text-shadow:
        1px 1px 10px #1f283328, 2px 2px 10px #1f283348, 3px 3px 10px #1f28331e;
    transform: translateX(-5px);
    font-size: 4em;
}

.background-completed {
    background-image: linear-gradient(to top, #093f3a 0%, #99c48e 100%);
}